/* Place the navbar at the bottom of the page, and make it stick */

#header{
  display: flex;
  justify-content: space-between;
}
#logo{display: flex;
  justify-content: center;
}



#center{
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
#footer{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}