/* Place the navbar at the bottom of the page, and make it stick */

#header{
  display: flex;
  justify-content: space-between;
}
#logo{display: flex;
  justify-content: center;
}
#navbar {
  background-color: #f2f2f2;
  overflow: hidden;
}

#navbar a {
  float: bottom;
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

#footer
{
  
  display: flex;
  justify-content: space-between;
}
#center{
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}